$main-color:	#368fd8;
$secondary-color: #2d1f93;
$bg-color: #414141;
$tertiary-color: #2e2e2e;
$dark-bg-color: #1b1b1b;
$white-bg-color:#fcfcfc;
$main-color-2:#21D1FF;
$secondary-color:#5451D6;



  main.homePage {
    max-width: 100vw;
    min-height: 100vh;
    width: 86%;
    margin: 0 0 0 14%;

    section.homePageContent{
      div.home{
        height: 100vh;
      }

      footer{

        height: 8rem;
      }


    }

    // sidebar
  }



// Media Queries
@media only screen and (max-width: 700px) {
 
  main.homePage{
    display: flex;
    flex-direction: column;
    margin: 9.5% 0 0 0 ;
    section.homePageContent{
      min-height: 100vh;
       width: 100%;
 
       div.home{
         height: 100vh;
         z-index: -1;
         width: 100vw;
       }
     }
  }
  
}

// Media Queries
