$main-color:	#368fd8;
$secondary-color: #2d1f93;
$bg-color: #414141;
$tertiary-color: #2e2e2e;
$dark-bg-color: #1b1b1b;
$white-bg-color:#fcfcfc;
$main-color-2:#21D1FF;
$secondary-color:#5451D6;

  main.homePage {
    max-width: 100vw;
    min-height: 100vh;
    width: 87%;
    margin: 0 0 0 13%;

    section.homePageContent{
      height: 100vh;
      width: 100%;
     }

     section.aboutPageContent{
       min-height: 70vh;
       width: 100%;
       margin: 0 0 4rem 0 ;
       div.aboutSection{
         height: 70vh;
       }
     }
  }

  footer.footer{
    max-width: 100vw;
    width: 88%;
    margin: 0 0 0 12%;
  }


// Media Queries
@media only screen and (max-width: 750px) {

  main.homePage {
    max-width: 100vw;
    min-height: 100vh;
    width: 100%;
    margin: 13% 0 0 0%;
    
    section.homePageContent{
      height: 100vh;
      width: 100%;
     }

     section.aboutPageContent{
       min-height: 70vh;
       width: 100%;
       margin: 0 0 1rem 0;
     }


  }

  footer.footer{
    max-width: 100vw;
    width: 100%;
    margin: 0 0 0 0%;
  }

}

// Media Queries
